@import url('https://fonts.googleapis.com/css2?family=Acme&family=Advent+Pro:wght@500&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #ccc;
	font-family: sans-serif;
}

.main-header {
	background: rgb(231, 139, 33);
	padding: 15px;
}
.main-header div {
	display: inline-block;
	font-weight: bold;
}
div a {
	font-size: 32px;
}
.nav-menu {
	width: calc(100% - 90px);
	display: inline-block;
	text-align: right;
}
.nav-menu-item {
	list-style: none;
	display: inline-block;
	padding: 5px;
	margin: auto;
}
a {
	vertical-align: middle;
	font-family: 'Acme', sans-serif;
	text-decoration: none;
	color: #851379;
	font-weight: bold;
	font-size: 18px;
}
.nav-menu-item a:hover {
	padding-bottom: 3px;
	border-bottom: 5px solid #fff;
}
/** The product overview section */
#product-overview {
	background: url('./img/product-overview-bg.jpg') no-repeat;
	width: 100%;
	color: #fff;
	height: 400px;
}
h1 {
	font-family: 'Acme', sans-serif;
	padding: 5px;
}
.section-title {
	color: #0bf7;
	text-align: center;
	margin: 20px;
}
.plan {
	display: inline-block;
	background: #85137999;
	text-align: center;
	width: 30%;
	margin: 20px auto;
	vertical-align: middle;
}
.plan.plan--helper {
	color: #fff;
	background-color: #851379;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .8);
}